
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.wrapper {
    border: 1px solid #EEEEEE;
    border-radius: 2em 2em 2em 2em;
    margin: 0 auto;
    width: 960px;
}
.header {
    border: inherit;
    border-radius: 2em 2em 0 0;
    height: 68px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 960px;
}
.content {
    padding: 1em 2em 2em;
}
.app_box {
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 160px;
    margin: 25px;
    padding: 16px;
    width: 160px;
}
.app_box h2 {
    font-family: inherit;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}
